aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiohttp-retry==2.9.1
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
attrs==26.1.0
biopython==1.86
bitarray==3.10.1
blinker==1.9.0
cachetools==6.2.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
ckzg==2.1.8
click==8.3.1
contourpy==1.3.3
cryptography==48.0.0
cycler==0.12.1
cytoolz==1.1.0
deprecation==2.1.0
distro==1.9.0
et_xmlfile==2.0.0
eth-account==0.14.0
eth-hash==0.8.0
eth-keyfile==0.10.0
eth-keys==0.8.0
eth-rlp==3.0.0
eth-typing==6.0.0
eth-utils==6.0.0
eth_abi==6.0.0
fastapi==0.136.1
Flask==3.1.3
flask-cors==6.0.2
fonttools==4.61.1
frozenlist==1.8.0
google-api-core==2.29.0
google-api-python-client==2.188.0
google-auth==2.41.1
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.3
googleapis-common-protos==1.72.0
groq==1.1.1
gunicorn==25.1.0
h11==0.16.0
h2==4.3.0
hexbytes==2.0.0
hpack==4.1.0
httpcore==1.0.9
httplib2==0.31.1
httpx==0.28.1
hyperframe==6.1.0
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.9
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
mdurl==0.1.2
multidict==6.7.1
ngrok==1.7.0
numpy==2.4.2
oauthlib==3.3.1
openpyxl==3.1.5
packaging==26.0
pandas==3.0.3
parsimonious==0.10.0
pillow==12.1.1
pluggy==1.6.0
postgrest==2.31.0
propcache==0.5.2
proto-plus==1.27.0
protobuf==6.33.4
py-ecc==8.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
pyfiglet==1.0.4
Pygments==2.19.2
PyJWT==2.13.0
pyparsing==3.3.1
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.32
pyunormalize==17.0.0
realtime==2.31.0
regex==2026.7.19
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.3.2
rlp==5.0.0
rsa==4.9.1
seaborn==0.13.2
shortuuid==1.0.13
six==1.17.0
sniffio==1.3.1
starlette==1.0.0
storage3==2.31.0
StrEnum==0.4.15
supabase==2.31.0
supabase-auth==2.31.0
supabase-functions==2.31.0
toolz==1.1.0
twilio==9.11.0
types-requests==2.33.0.20260712
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.47.0
web3==7.16.0
websockets==15.0.1
Werkzeug==3.1.6
yarl==1.24.2
